{% extends 'Header.html' %}

{% block content %}
    <div class="maincomponent">
        <!-- Tabs for Registration and Login -->
        <ul id="tabs" class="tabs">
            <li><a href="#" id="patientRegistrationTab" class="active-tab">Patient Registration</a></li>
            <li><a href="#" id="patientLoginTab" class="active-tab">Patient Login</a></li>
        </ul>
        
        <!-- Patient Registration Form -->
        <div id="patientRegistrationTabContainer" class="form-container">
            <h3 class="form-title">Patient Registration</h3>
                <div class="input-row">
                    <div class="input-col">
                        <label class="form-label">Owner Name: </label>
                        <input type="text" id="ownerName" class="form-input" placeholder="Enter owner name" required>
                    </div>
                    <div class="input-col">
                        <label class="form-label">Mobile Number: </label>
                        <input type="text" id="ownerMobile" class="form-input" placeholder="Enter mobile number" required>
                    </div>
                    
                </div>

                <div class="input-row">
                    
                    <div class="input-col">
                        <label class="form-label">Animal Type: </label>
                        <select id="animalType" class="form-input" required>
                            <option value="Dog">Dog</option>
                            <option value="Cat">Cat</option>
                        </select>
                    </div>
                    <div class="input-col">
                        <label class="form-label">Animal Age (in years): </label>
                        <input type="number" id="animalAge" class="form-input" placeholder="Enter animal age" required>
                    </div>
                </div>

                <div class="input-row">
                    
                    <div class="input-col">
                        <label class="form-label">Email: </label>
                        <input type="email" id="ownerEmail" class="form-input" placeholder="Enter owner email" required>
                    </div>
                    <div class="input-col">
                        <label class="form-label">Password: </label>
                        <input type="password" id="password" class="form-input" placeholder="Enter password" required>
                    </div>
                </div>

                <button type="submit" id ="registrationSubmit" class="submit-button">Submit</button>
        </div>
        <!-- Patient Login Form (Initially Hidden) -->
        <div id="patientLoginTabContainer" class="form-container" style="display: none;">
            <h3 class="form-title">Patient Login</h3>
            <div class="input-row">
                <div class="input-col">
                    <label class="form-label">Email: </label>
                    <input type="email" id="loginEmail" class="form-input" placeholder="Enter email" required>
                </div>
                <div class="input-col">
                    <label class="form-label">Password: </label>
                    <input type="password" id="loginPassword" class="form-input" placeholder="Enter password" required>
                </div>
            </div>
            <button type="submit" id="loginSubmit" class="submit-button">Login</button>
        </div>

    </div>
       

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endblock %}
